<body>
	<div id="background">
		<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">SRT VRLAB</a>
			<nav>
				<ul>
					<li><a href="#">Explore</a></li>
					<li><a href="#">Sign in</a></li>
					<li><a href="#">Creat a VR Scenario</a></li>
				</ul>
			</nav>
		</div>
		</header>
		 <div class="wrapper_skinny">
			 	<h1>Discover your new favorite VR Scenario <br> or creat your own.</h1>
				<a href="#" class="button button_highlight">Creat a Scenario</a>
				<a href="#" class="button button_white">Explore</a>
		 </div>

	</div>
</body>
